@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&display=swap');

* {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.home {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

body {
  background-color: rgba(255, 255, 255, 0.835);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: white;
  margin-bottom: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 35px;
    
}
.menu { display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px rgba(99, 99, 99, 0.178) solid;
  height: 50px;
  width: 30px;

}
.hiddenmenu{
  display: none;
  font-size: 20px;
}
.showmenu{
  font-size: 20px;
}
 .menu:hover .showmenu,
 .menu:hover .hiddenmenu{
   display: none;
   
 }
 .menu:hover .hiddenmenu{
   display: inline;
   transition: 0.1s ease-in;
   
 }


 .Logocontainer{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 80px;
   /* border: 5px black solid; */
   

 }
.Logo{
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin-bottom: 4px; 
}
.contactcontainer{
  /* border: 3px solid black; */
  margin-left: 60%;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.contactcontainer::before{
  content: '';
  position: absolute;
  width: 3%;
  height: 2px;
  background: red;
  top:1px;
}
.contactcontainer::after{
  transform: scale(0,1);
  transition:  0.3s ease;
  background: red;
}

.contactcontainer:hover::after{
  transform: scale(1,1);
  background: red;
}

.contact{
  font-size: 30px;
}

.store{
  margin-left: 30px;
  font-size: 30px;
}
.account{
  margin-left: 30px;
  font-size: 30px;

}

.nav ul {
  list-style-type: none;
  margin: 0;
   font-size: 28px; 
   color: #000000; 
}

 /* .nav a {
  font-size: 50px;
  font-weight: 400;
  color: #3e4149;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}  */

.nav-cart {
  position: absolute;
  margin-left: 90%;
  font-size: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 5px red solid; */
}


.shop-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 5px;
  padding-right: 30%;
}

/* .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background-color: rgb(255, 204, 145);
  margin-bottom: 30px;
  border-bottom-right-radius: 75px;
  border-bottom-left-radius: 75px;

}
.nav ul {
  list-style-type: none;
  margin: 0;
  font-size: 35px;
  color: #828282;
  
}

.nav a {
  font-size: 50px;
  font-weight: 400;
  color: #757575;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Delius Unicase', cursive;
}

.nav-cart {
  position: absolute;
  left: 80%;
}

.shop-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
} */

.hero {
  display: flex;
  margin: 0;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 15px;
  border: solid 8px rgb(255, 204, 145);
  justify-content: center;
  width: 100%;
}

.hero img {
  min-width: 20%;
  min-height: 100%;
  margin: 0;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  height: 450px;
  object-fit: cover;
  object-position: top;
}

.hero-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-side h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
}

.hero-side h2 {
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 1px;
  margin: 5px 25px 5px 25px;
  text-align: center;
}

.hero-side h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  font-size: 25pxpx;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin: 30px 0 30px 0;
}


.tile {
  display:flex;
  padding: 20px 20px 20px 20px;
  background-color: rgb(255, 255, 255);
  margin: 10px 5px 10px 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 15px;
  width: 400px;
  height: 200px;
  z-index: 1;
  
}

.tile-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  
}
.tile-left-side{

  width:200px;
  height:200px;  
}


.tile-left-side img {
  width: 200px;
  height: 200px;
  /* object-fit:contain; */
  border-radius: 10%;

  margin-bottom: 0px;
  z-index: 1;
  position: absolute;

  
}

.tile h4 {
  margin-right: 5px;
  font-size: 35px;
  font-weight: 600;
  
}
/*
.tile h5 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  margin-left:5px;
}

.tile p {
  font-family: "Quicksand", sans-serif;
  /* margin-right: 10px; */
/* }  */

.tile button {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
  font-weight: 300;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  width:200px;
  height:200px;
  z-index: 2;
  position: relative; 
  color: rgb(0, 0, 0, 0);
}

.tile-left-side :hover img {
  opacity: 0.3;
}

.tile-left-side :hover button {
  display: block;
}
.tile button:hover {
  background-color: rgba(255, 255, 255, 0.349);
  color: rgb(255, 255, 255);
  transition: ease 0.5s ;
  font-size: 28px;
}

.footer {
  padding: 10px 60px;
  background-color:rgb(221, 124, 14);
  text-align: left;
  font-size: 18px;
  color: white ;
}


.close-button {
  border: none;
  background-color: rgb(250, 139, 12);
  font-size: 50px;
  cursor: pointer;
  padding: 15px 0 5px 0;
  width: 90%;
  border-radius: 25px;
  margin-bottom: 25px;
  margin: 15px;
  
}

.overlay {
  background: black;
  z-index: 50;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
}

.overlay--open {
  opacity: 0.5;
  pointer-events: auto;
}

.modal {
  background: white;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  right: 0;
  top: 0;
  position: fixed;
  width: calc(100% / 3);
  transform: translateX(100%);
  transition: all 0.5s;
  overflow: scroll;
}

.modal img {
  width: 170px;
  height: 170px;
  object-fit:cover;
  border-radius: 10%;
  border: solid 6px rgb(255, 204, 145);
}

.modal h2 {
  font-size: 32px;
}

.modal h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.modal h4 {
  font-size: 24px;
  margin-bottom: 20px;
  background-color: rgba(255, 204, 145, 0.5);
  padding: 30px 60px;
  border-radius: 26px;
}

.modal--open {
  transform: translateX(0%);
}

.total {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  font-size: 30px;
  text-align: center;
  margin-top: 45px;
}

.remove {
  background-color: transparent;
  font-size: 42px;
  border: none;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 25px;

}

.container {
  display: flex;
  flex-direction:row;
  align-items:flex-start;
  margin-bottom: 20px;
}

.container-side {
  margin-left: 20px;

}

.container p {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin: 10px 0px 10px 0px;
}

.container img {
  margin: 0;
  object-fit: cover;
  object-position: top;
}


.nav span {
  color: white;
  font-family: "Quicksand", sans-serif;
  border: solid black 2px;
  border-radius: 50%;
  padding: 3px 8px 3px 8px;
  position: absolute;
  right: -15px;
  bottom: 4px;
  font-size: 12px;
  background-color: rgb(190, 81, 9);
}
